body{
    font: 12px "Lato Regular", san-serif;
    letter-spacing: 1px;
}
.button{
    font-size: 13px;
    padding: 10px 20px;
}

/* Representative Block */
.representative{
    height:300px;
    position:relative;
}
.representative .tagline p{
    margin-bottom: 0;
}
.representative .aside{
    text-align:right;
    bottom:16.5%;
}
.representative .aside .contact-number{
    font-size: 10px;
}
.representative .aside .info-line2{
    font-size: 10px;
}
.representative .info-line3{
    position:relative;
    top:260px;
    left:0;
    font-size: 10px;
}
.representative .arrow-button a{
    width:25px;
    height:17px;
}
/* Information Block */
.information{
    background: #39214f;
    height:auto;
}
.information img{
    display:block;
    margin:1.8% auto;
}
.information-topImg{
    margin-top:5%;
    width:80%;
    height:auto;
}
.information-cloudImg{
    width:80%;
    height:auto;
}
.information-bottomImg{
    width:55%;
    height:auto;
}

/* About Me */
.about-me{
    background-color: #1b1b2a;
    background-image: none;
}
.about-me .headline-img{
    width:33%;
}
.about-me .about-me-hello{
    margin: 0;
    text-align:center;
    width:100%;
}
.about-me-hello .hello-about-me {
    width:65%;
}
.about-me-info{
    max-width:none;
    margin:0 0 5%;
    font-size:13px;
    line-height:1.3;
}

/* Result Block */
.results-headline .my-students{
    width:90%;
}
.results h2{
    font-size:11px;
}
.results p{
    font-size:12px;
    width:auto;
    line-height: 1;
}
.bx-wrapper .bx-prev {
    left: -70px;
    background-size:100% 100%;
}
.bx-wrapper .bx-next {
    right: -70px;
    background-size:100% 100%;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    outline: 0;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    z-index: 9999;
}


/* Feedback */
.feedback{
    background-image:none;
    height:auto;
    padding-bottom:5%;
}
.contact-info{
    width:40%;
    margin-top: 5%;
}
.contact-info h1{
    font-size: 20px;
}
.contact-info h2, .contact-info h3{
    display:none;
}
.contact-link{
    font-size: 12px;
}
.watchword{
    width:45%;
    float:right;
    margin-top:5%;
}
.watchword .slogan{
    font-size: 10px;
}
.watchword .info-line3{
    font-size:11px;
}


/* Tablet  styles */

@media (min-width: 600px){
    body{
        font-size: 13px
    }
    .button{
        font-size: 14px;
        padding: 13px 23px;
    }
    .representative{
        height:500px;
    }
    .representative .aside .contact-number{
        font-size: 11.5px;
    }
    .representative .info-line3{
        font-size:11.5px;
    }
    .representative .info-line3{
        font-size:12px;
        top:444px;
    }
    .representative .arrow-button a{
        width:35px;
        height:27px;
    }
    .representative .arrow-button{
        bottom:1.5%;
    }
    .about-me-info{
        font-size:14px;
    }
    .results h2{
        font-size:13px;
    }
    .results p{
        font-size:13px;
    }
    .results-headline .my-students{
        width:80%;
    }
    .bx-wrapper .bx-prev {
        left: -85px;
    }
    .bx-wrapper .bx-next {
        right: -85px;
    }
    .bx-wrapper .bx-controls-direction a {
        margin-top: -35px;
        width: 70px;
        height: 70px;
    }
    .contact-info h1{
        font-size: 22px;
    }
    .contact-link{
        font-size: 13px;
    }
    .watchword .slogan{
        font-size: 12px;
    }
    .watchword .info-line3{
        font-size:13px;
    }
}
