@font-face {
    font-family: 'latoregular';
    src: url('latoregular-webfont.eot');
    src: url('latoregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('latoregular-webfont.woff2') format('woff2'),
    url('latoregular-webfont.woff') format('woff'),
    url('latoregular-webfont.ttf') format('truetype'),
    url('latoregular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}