@font-face {
    font-family: "Attentica4F";
    src: url("../fonts/Attentica4F-UltraLight.otf") format("otf");
    src: url("../fonts/Attentica 4F UltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}